{
    "useTabs": false,
    "printWidth": 120,
    "tabWidth": 2,
    "singleQuote": true,
    "semi": false,
    "bracketSpacing": true,
    "requirePragma": false,
    "insertPragma": false,
    "proseWrap": "preserve",
    "trailingComma": "none",
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "auto",
    "jsxBracketSameLine": false
  }
  